{% extends "base.html" %}
{% load staticfiles%}

{% block head_title %}{{ instance.name }}{% endblock head_title %}

{% block content %}

    <div class='col-md-6 col-md-offset-3'>
       <center>
           <h1>{{ instance.name }}</h1>
       </center>
    </div>




        <div class="row">

          <div class="col-sm-4 col-md-offset-4">
            <div class="thumbnail">
                {% if instance.key_image %}
                 <img src='{{ instance.key_image }}' class='img-responsive' />
                {% endif %}
              <div class="caption">
{#                <h3><a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a> </h3>#}
{#                {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}#}
                <h4>Status:&nbsp;{{ instance.status }}</h4>
{#                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>#}
              </div>
            </div>
          </div>
        <hr/>
        </div>


        <div class="row">
          <div class="col-sm-4 col-md-offset-4">
            <div id="post"></div>
          </div>
        <br><br/>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-offset-4">
            <div id = 'list'></div>
{#            {% for comment in comment_list %}#}
{##}
{##}
{#            {% endfor %}#}
            </div>
        </div>




{% endblock content %}


{% block javascript %}
    <script src = "/static/js/itemDetail.jsx" type="text/babel"></script>
{% endblock javascript %}